  <h2>Publica tu producto aquí</h2>
    <div class="row">
      <section class="4u 12u(mobile)">
        <%= form_with(model: product, local: true, multipart: true) do |form| %>
          <% if product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

              <ul>
              <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :category_id %><br>
            <%= form.select :category_id, @categories.pluck(:name, :id), prompt: 'Seleccione...' %>
          </div>

          <div class="field">
            <%= form.label :name %><br>
            <%= form.text_field :name, id: :product_name %>
          </div>

          <div class="field">
            <%= form.label :price %><br>
            <%= form.text_field :price, id: :product_price %>
          </div>

          <div class="field">
            <%= form.label :stock %><br>
            <%= form.number_field :stock, id: :product_stock %>
          </div>

          <div class="field">
            <%= form.label :description %><br>
            <%= form.text_area :description, id: :product_description %>
          </div><br>

          Ingresa las fotos de tu producto aquí...

          <%= form.fields_for :photo do |t| %>
            <div><br>
              <%= t.file_field :title, :multiple => true %>
            </div><br>

            <div>
              <%= t.file_field :title, :multiple => true %>
            </div><br>

            <div>
              <%= t.file_field :title, :multiple => true %>
            </div><br>

            <div>
              <%= t.file_field :title, :multiple => true %>
            </div><br>
          <% end %>

          <div class="actions">
            <%= form.submit %>
          </div>

        <% end %>
      </section>
    </div>
