    <div class="row">
      <% @transactions.each do |transaction| %>
        <% if current_user.products.ids.include?(transaction.product_id) %>
          <section class="4u 12u(mobile)">
            <a href="#" class="image full"><%= image_tag transaction.product.photos.first.title %></a>
            <div class="box">
              <h3 class="white" >Comprador: <%= transaction.user.name %></h3>
              <h3 class="white" ><%= transaction.product.name %></h3>
              <h5 class="white" >Precio Unitario: $<%= transaction.product.price %></a></h5>
              <h5 class="white" >Unidades Compradas: <%= transaction.quantity %></a></h5>
              <h5 class="white" >Total: $<%= transaction.total %></a></h5>
            </div>
          </section>
        <% end %>
      <% end %>
    </div>
