<div id="main">
  <section class="container">
    <div class="row">
      <section class="4u 12u(mobile)">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Category:</strong>
          <%= @product.category.name %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>
          <strong>Vendedor:</strong>
          <%= @product.user.name %>
        </p>

        <p>
          <strong>Stock:</strong>
          <%= @product.stock %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <% if @product.user_id == current_user.id %>
          <%= link_to 'Editar', edit_product_path(@product) %> |
        <% end %>
        <%= link_to 'Volver', products_path %> |
        <%= link_to 'Comprar', '#' %>

      </section>
    </div>
  </section>
</div>
