    <div class="row">
      <section class="4u 12u(mobile)">


        <p>
          <strong>Category:</strong>
          <%= @product.category.name %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>
          <strong>Vendedor:</strong>
          <%= @product.user.name %>
        </p>

        <p>
          <strong>Stock:</strong>
          <%= @product.stock %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <% if @product.user_id == current_user.id %>
          <%= link_to 'Editar', edit_product_path(@product) %> |
        <% end %>
        <%= link_to 'Volver', products_path %> |
        <% if @product.user_id != current_user.id %>
          <%= link_to 'Realizar una pregunta', comment_product_path %>  |
          <%= link_to 'Comprar', new_transaction_path %>  |
        <% end %>
        <% if @product.user_id == current_user.id %>
          <%= link_to 'Nueva Venta', new_product_path %>
        <% end %>

      </section>
    </div>
  
